<div class="center hero-unit">
  <h1>Welcome to SndStream!</h1>

  <h2>
    The place where you can share a seven second sound blog.
  </h2>
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-success" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-info" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
