    <tr>
      <td>
        <%= gravatar_for user, size: 70 %>
      </td>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td>
        <%= user.created_at %>
      </td>
      </td>
      <td>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to raw('<i class="icon-trash icon-white"></i> delete'), 
              user, method: :delete, confirm: "Delete user?",
              class: 'btn btn-small btn-danger' %>
        <% end %>
      </td>
    </tr>
