<li id="<%= feed_item.id %>">
  <%= gravatar_for feed_item.user, size: 52 %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <%= render :partial => 'shared/sndstream', 
      :locals => {:sndstream => feed_item } %>
</li>
