<%= form_for(@soundpost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.file_field :content %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-success" %>
<% end %>
